@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,300);
$font-family-base: 'Raleway', sans-serif;
// Import bootstrap and fontawesome
@import "bootstrap";
@import "font-awesome";

.todo-list > .panel-heading {
    float:left;
    width:100%;
}

.todo-list ul {
    display:inline-block;
    width:100%;
}

.new-todo-container{
    margin-top:7px;
}

.present-delete {
    width:100%;
}

.todo-list li.list-group-item {
   display:flex;
}

.fade {
  max-height: 0;
  -webkit-transition: max-height 1500ms linear;
       -o-transition: max-height 1500ms linear;
          transition: max-height 1500ms linear;
}

.in {
  max-height: 100px;
}
